* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.clickable {
  cursor: pointer;
}
.clickable:hover{
  text-decoration: underline;
}

.delete-button {
  cursor: pointer;
}
.delete-button:hover{
  background-color: rgb(150, 0, 0);
  color: rgb(245, 245, 245);
}